@charset "UTF-8";
/* CSS Document */
.artbarMenu { background-image: url(/img/menu-bg.jpg); background-repeat: repeat-x; width: 100% !important; }
.footer { background-image: url(../img/footer-bg.png); background-repeat: repeat; width: 100% !important; }

/* Navigation */
#nav { width: 100%; float: left; margin: 0 0 0 0; padding: 0; list-style: none; }
#nav li { float: left; }
#nav li a { display: block; padding: 8px 7px; text-decoration: none; font-weight: bold; color: #fff; border-right: 1px solid #000; }
#nav li a:hover { color: #FFF; background-color: #803fb1; }

/* Social */
.socials { margin: 7px; }
